/*==================================
HOW WE WORK GRID
==================================*/

.how_we_work_grid .column_1_2 p {
	margin-bottom: 0;
}

/*==================================
TEAM
==================================*/

// Individual Team Member

.team_member_block {
	cursor: pointer;
}

.team_member_image_container {
	margin-bottom: 10px;
	position: relative;

	&:before {
		@include overlay(rgba($blue, .5));
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}
}

.team_member_image_container:hover {
	&:before {
		opacity: 1;
	}
}

.team_member_block {
	h2, p {
		margin-bottom: 0;
	}
}

.hidden_team_description {
	display: none;
}

// Team Member Box for members without images

.team_member_box {
    background: $lightgrey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.team_member_box p {
    margin-bottom: 0;
}

/*==================================
LIGHTBOX
==================================*/

body.lightbox_open {
	overflow: hidden;
}

.team_member_lightbox_container {
	position: fixed;
	display: none;
	z-index: 50;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.team_member_lightbox_flex_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_member_lightbox {
    background: white;
    padding: 40px 20px 20px;
    width: 90%;
    max-width: 450px;
    height: 500px;
    overflow-y: scroll;
    position: relative;
}

// Custom Scrollbar in the Lightbox

.team_member_lightbox::-webkit-scrollbar {
    width: 5px;
}
 
.team_member_lightbox::-webkit-scrollbar-track {
    background: $lightgrey;
}
 
.team_member_lightbox::-webkit-scrollbar-thumb {
    background: $blue; 
}

// Lightbox Content

.team_member_lightbox header {
	padding: 10px 0;
}

.team_member_lightbox header {
	h2, p {
		margin-bottom: 0;
	}
}

.team_member_lightbox .close_icon {
	position: absolute;
	top: 10px;
    right: 10px;
}

/*==================================
PARTNERS
==================================*/

a.partner_logo_container {
	display: block;
    border: 2px solid $lightblue;
    margin-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile_landscape {
        height: 200px;
    }
}

a.partner_logo_container img {
    width: 85%;
    margin: 0 auto;
}