/*==================================
Homepage Structure
==================================*/

// Styling for universal elements that are uniquely positioned on the homepage.

.page-template-homepage .main_content {
    height: 100vh;
}

.page-template-homepage .main_wrapper {
    height: 100%;
}

.page-template-homepage footer {
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0;
}

.page-template-homepage .footer_bottom {
    background: rgba($blue, .5);
}

/*==================================
Homepage Slider
==================================*/

.homepage_slider {
	position: relative;
    height: 100%;

	&:before {
		@include overlay(rgba(0,0,0,.3));
		z-index: 10;
	}
}

// Content

.homepage_slider_content_container {
    position: absolute;
    z-index: 13;
    left: 0px;
    bottom: 100px;
    width: 100%;

    @include tablet_landscape {
        bottom: 180px;
    }
}

.homepage_slider_content {
    max-width: 650px;
    opacity: 0;

}

.homepage_slider_content h1 {
    color: $white;
    transform: translateY(20%);
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    transition: all 1s ease-in-out;
}

.homepage_slider_content p {
    color: $white;
    transform: translateY(-20%);
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    transition: all 1.3s ease-in-out;

    @include mobile_landscape {
        display: none;
    }
}

// Flexslider

.homepage_slider.flexslider ul.slides {
    height: 100%;
    width: 100%;
}

.homepage_slider.flexslider ul.slides li {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

// Flexslider Controls

.homepage_slider ol.flex-control-nav {
    position: relative;
    bottom: 0;
    text-align: left;

    @include mobile_landscape {
        display: none;
    }
}

.homepage_slider ol.flex-control-nav a {
	background: rgba(0,0,0,0);
	border: 1px solid $white;
	box-shadow: none;

	&.flex-active, &:hover {
		background: rgba(255,255,255,1);
	}
}