/*==================================
What We Are Looking For Panels
==================================*/

.expandable_panels {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 400px;
    position: relative;

    @include tablet_landscape {
        height: auto;
    }
}

.individual_panel {
    width: 25%;
    height: 100%;
    padding: 0px 0px 40px;
    position: absolute;
    color: $white;
    display: flex;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: flex-end;
    justify-content: center;

    &:nth-child(1) {
    	left: 0;
        @include tablet_landscape {
            left: 0;
        }
    }

    &:nth-child(2) {
    	left: 25%;
        @include tablet_landscape {
            left: 0;
        }
    }

    &:nth-child(3) {
    	left: 50%;
        @include tablet_landscape {
            left: 0;
        }
    }

    &:nth-child(4) {
    	left: 75%;
        @include tablet_landscape {
            left: 0;
        }
    }

    @include tablet_landscape {
        position: relative;
        width: 50%;
        height: 300px;
        left: 0;
    }

    @include tablet {
        width: 100%;
        height: 300px;
        padding: 0;
        align-items: center;
    }
}

.individual_panel_content {
    z-index: 12;
    position: relative;
    max-height: 50px;
    max-width: 280px;
    overflow: hidden;
    transition: max-height 1s ease-in-out;

    @include tablet_landscape {
        max-height: none;
    }
}

.individual_panel_content h2 {
    transform: translateY(13px);
    color: $white;
    text-shadow: 0px 0px 4px rgba(0,0,0,.5);
    transition: all 1.2s ease-in-out;

    @include tablet_landscape {
        transform: translateY(0);
    }
}

.individual_panel_content p {
    color: $white;
    margin-bottom: 50px;
    transform: translateY(-20%);
    opacity: 0;
    transition: all 1.2s ease-in-out;

    @include tablet_landscape {
        transform: translateY(0);
        opacity: 1;
        margin-bottom: 0;
    }
}

.individual_panel:before {
    @include overlay(rgba($black, .3));
    z-index: 10;
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    @include tablet_landscape {
        background: rgba($black, .6);
    }
}

.individual_panel.inactive_panel:before {
    @include overlay(rgba($black, .7));
}

// Hover effect on each panel
// The spring effect is controlled by javascript in how_we_fund.js

@include desktop {
    .individual_panel:hover .individual_panel_content {
        max-height: 400px;
    }

    .individual_panel:hover:before {
        @include overlay(rgba($blue, .8));
    }

    .individual_panel:hover p {
        transform: translateY(0%);
        opacity: 1;
    }

    .individual_panel:hover h2 {
        transform: translateY(0);
    }
}