/*==================================
INDIVIDUAL IDEA BLOCK
==================================*/

.idea_block {
    display: flex;
    flex-flow: row wrap;
    min-height: 350px;
    border-bottom: 6px solid $lightblue;
}

// Content

.idea_block_content_container {
    width: 50%;
    padding: 0px 60px;
    display: flex;
    align-items: center;

    @include tablet {
      width: 100%;
      padding: 20px;
    }
}

.idea_block_content h2 {
	margin-bottom: 5px;
}

.idea_block_content a:hover {
	color: $lightblue;
}

.idea_block_content span.idea_post_meta {
	color: $lightblue;
	display: block;
	font-weight: 600;
	margin-bottom: 20px;
  text-transform: uppercase;
}

// Media

.idea_block_media {
    width: 50%;
    background-size: cover;
    background-position: center;

    @include tablet {
      width: 100%;
      height: 300px;
    }
}

/*==================================
LOAD MORE
Override ajax load more styling
==================================*/

.alm-btn-wrap {
    width: 50%;
    text-align: center;
    padding: 60px;

    @include tablet {
      width: 100%;
      padding: 20px;
    }
}

.ajax-load-more-wrap .alm-load-more-btn {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border-radius: 30px;
  background: transparent;
  border: 1px solid $blue;
  color: $blue;
  outline: 0;
  transition: all .5s ease-in-out;
}

.ajax-load-more-wrap .alm-load-more-btn:hover {
	background: $blue;
	color: $white;
	outline: 0;
}

.ajax-load-more-wrap .alm-load-more-btn.done {
	background: transparent;

	&:hover {
		color: $blue;
	}
}

.ajax-load-more-wrap .alm-load-more-btn.loading:before {
	background: transparent;
}