/*==================================
FORM
==================================*/

.gform_wrapper.partner_with_us_form_wrapper {
	margin: 0px;
	background: $lightgrey;
    padding: 20px;
}

.gform_wrapper.gf_browser_chrome .partner_with_us_form .gform_body {
    width: auto;
}

// Fields

.partner_with_us_form .gform_fields li:nth-child(1), .partner_with_us_form .gform_fields li:nth-child(2) {
	margin-top: 0px;
}

// Inputs

.partner_with_us_form input, .partner_with_us_form textarea {
    border: 0;
}

.partner_with_us_form select {
	background: $white;
    border: 0;
    height: 33px;
}

.gform_wrapper .partner_with_us_form .gfield_required {
	color: $grey;
}

// Form Errors

.gform_wrapper .partner_with_us_form div.validation_error {
	color: $red;
	border-top: 0;
	border-bottom: 0;
	padding: 0px 20px;
}

.gform_wrapper  .partner_with_us_form .gfield_error .gfield_label, .gform_wrapper .partner_with_us_form .validation_message {
	color: $red;
}

.gform_wrapper .partner_with_us_form li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper .partner_with_us_form li.gfield_error ul.gfield_checkbox, .gform_wrapper .partner_with_us_form li.gfield_error ul.gfield_radio {
	color: $red;
}

.gform_wrapper .partner_with_us_form li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper .partner_with_us_form li.gfield_error textarea {
	border: 1px solid $red;
}
.gform_wrapper .partner_with_us_form li.gfield.gfield_error {
	border: 0;
}

// Submit Button

.gform_wrapper .partner_with_us_form .gform_footer input.gform_button {
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	padding: 20px 50px;
	border-radius: 30px;
	background: transparent;
    border: 1px solid $lightblue;
    color: $lightblue;
    width: 100%;
    cursor: pointer;
    outline: 0;
    transition: all .5s ease-in-out;

    &:hover {
    	color: $white;
    	background: $lightblue;
    }
}