/*==================================
Portfolio Blocks
==================================*/

.portfolio_block {
    position: relative;
    display: block;
}

.portfolio_block:before {
	@include overlay(rgba($black,.4));
	transition: all 1s ease-in-out;
}

.portfolio_block_content {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.portfolio_logo {
    background: rgba($white, 1);
    width: 250px;
    transform: translate3d(30px, 8px, 0);
    transition: all 1s ease-in-out;

    @include tablet {
        width: 150px;
    }

    @include mobile_landscape {
        transform: translate3d(30px, 0, 0);
    }
}

.portfolio_image {
    width: 100%;
}

.portfolio_description {
    max-height: 15px;
    overflow: hidden;
    background: rgba($blue, .8);
    transition: all 1.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    @include tablet_landscape {
        max-height: none;
    }
}

.portfolio_description p {
    color: $white;
    margin-bottom: 0;
    padding: 30px;
    opacity: 0;
    transform: translateY(-10%);
    transition: all 1.3s ease-in-out;

    @include tablet_landscape {
        opacity: 1;
        transform: translateY(0%);
    }

    @include mobile {
        display: none;
    }
}

.portfolio_description button {
    margin: 0px 0px 30px 30px;

    @include mobile_landscape {
        display: none;
    }
}

.portfolio_description button img {
    transition: padding .8s .5s ease-in-out;
}

// Grid Adjustment just for this page on tablet

.portfolio_grid .column_1_2 {
    @include tablet_landscape {
        width: 100%;
        padding: 0;
    }
}

// Hover effect on a block

@include desktop {
    .portfolio_block:hover:before {
        @include overlay(rgba($black,.3));
    }

    .portfolio_block:hover .portfolio_logo {
        transform: translate3d(30px, 0px, 0);
    }

    .portfolio_block:hover .portfolio_description {
        max-height: 600px;
    }

    .portfolio_block:hover .portfolio_description p {
        opacity: 1;
        transform: translateY(0%);
    }

    .portfolio_block:hover .portfolio_description button img {
        padding-left: 20px;
    }
}