/*==================================
HEADER
==================================*/

.single_post_header {
	margin-bottom: 40px;

    @include tablet {
        margin-bottom: 20px;
    }
}

.single_post_header h2 {
    margin-bottom: 5px;
}

.single_post_meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: $lightblue;
    text-transform: uppercase;
    font-weight: 600;
}

.single_post_meta span {
    @include mobile_landscape {
        width: 100%;
    }
}

// Social Share

ul.social_share {
    display: inline-block;
}

ul.social_share li {
    display: inline-block;
    margin: 0px 5px;

    &:last-child {
    	margin: 0px 0px 0px 5px;
    }
}

ul.social_share li a:hover {
    color: $lightblue;
}

// Featured Media

.single_post_featured_media {
	margin-bottom: 40px;

    @include tablet {
        margin-bottom: 20px;
    }
}

.single_post_featured_media img {
	display: block;
}

// Content

.single_post_content {
	margin-bottom: 40px;
}

// Navigation

.single_post_navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.single_post_navigation div {
    @include tablet {
        width: 100%;
        margin-bottom: 10px;
    }
}

.single_post_navigation h2 {
	margin-bottom: 5px;
}

.single_post_navigation a {
	color: $grey;
	font-size: 16px;

	&:hover {
		color: $lightblue;
	}
}

.next_post {
    text-align: right;
    @include tablet {
        text-align: left;
    }
}