/*==================================
General Footer
==================================*/

.footer_bottom {
	height: 60px;
	background: linear-gradient($lightblue, $blue);
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 16px;

	@include mobile_landscape {
		font-size: 12px;
		line-height: 12px;
	}
}

.footer_bottom .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.footer_bottom p {
	font-weight: 600;
	color: $white;
	margin: 0;

	@include mobile_landscape {
		width: 100%;
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
}

/*==================================
Footer MEnu
==================================*/

.footer_bottom ul.footer_menu {
    list-style: none;
}

.footer_bottom ul.footer_menu li {
	display: inline-block;
	margin-right: 10px;

	&::last-child {
		margin-right: 0;
	}
}

.footer_bottom ul.footer_menu li a {
    color: $white;
}

