/*==================================
Main Header
==================================*/

header.main_header {
    position: fixed;
    z-index: 50;
    padding: 20px 50px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: all .6s ease-in-out;

    @include tablet_landscape {
        display: none;
    }
}

// Logo

.main_header .logo {
    width: 200px;
    margin-right: 60px;
    position: relative;
    transition: all .6s ease-in-out;

    img {
    	display: block;
    	width: 100%;
        transition: all .6s ease-in-out;
    }
}

img.light_logo {
    opacity: 1;
}

img.dark_logo {
    position: absolute;
    top: 0;
    opacity: 0;
}

img.people_logo {
    position: absolute;
    top: 0;
    max-width: 88px;
    opacity: 0;
}

// Main Navigation

nav.main_navigation {
    width: 80%;
    padding-bottom: 16px;
}

nav.main_navigation ul {
    list-style: none;
}

nav.main_navigation li {
    position: relative;
	display: inline-block;
	margin-right: 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
}

.main_navigation li:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    background: rgba($lightblue, .8);
    display: block;
    width: 0%;
    height: 23%;
    transition: width .3s ease-in-out;
}

nav.main_navigation li a {
    z-index: 10;
    position: relative;
    color: $white;
    text-transform: uppercase;
}

nav.main_navigation li.current-menu-item:before, nav.main_navigation li:hover:before {
    width: 100%;
}

/*==================================
Main Header Scrolled
==================================*/

.main_header.scrolled {
	background: rgba($white, 1);
    padding: 10px 50px;
    box-shadow: 1px 1px 6px rgba($black, .5);
}

.main_header.scrolled .logo {
	width: 100px;
}

// Logo transition

.main_header.scrolled, .main_header.scrolled.dark {
    .light_logo, .dark_logo {
        opacity: 0;
    }
    .people_logo {
        opacity: 1;
        max-width: 50px;
    }
}

// Navigation Scrolled

.main_header.scrolled nav.main_navigation {
    padding-bottom: 10px;
}

.main_header.scrolled nav.main_navigation li a {
    color: $grey;
}

.main_header.scrolled nav.main_navigation li.current-menu-item a {
    color: $blue;
}

.main_header.scrolled nav.main_navigation li.current-menu-item:before {
    background: transparent;
}

// Hover while in the scrolled state
 
.main_header.scrolled nav.main_navigation li:hover a {
    color: $blue;
}

.main_header.scrolled nav.main_navigation li:hover:before {
    width: 0%;
}

/*==================================
Dark Header
On pages without a header image.
==================================*/

.main_header.dark {
    border-bottom: 5px solid $lightblue;
}

// Adjust logo styling

.main_header.dark .dark_logo {
    opacity: 1;
}

.main_header.dark .light_logo {
    opacity: 0;
}

// Navigation adjustments

.main_header.dark nav.main_navigation li a {
    color: $grey;
}

// Scroll Adjustments 

.main_header.scrolled.dark {
    border-bottom: 0px;
}

/*==================================
Mobile Header
==================================*/

header.mobile_header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    @include tablet_landscape {
        display: flex;
    }
}

.mobile_header a.logo {
    display: block;
    width: 30px;

    img {
        display: block;
    }
}


.menu_icon {
    position: relative;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    height: 14px;
    width: 20px;

    &:before {
        content: "";
        width: 100%;
        border-bottom: 2px solid $blue;
        position: absolute;
        top: 4px;
    }    
}

// Border for header on single post page

.single-post header.mobile_header {
    border-bottom: 5px solid $lightblue;
}

/*==================================
MOBILE MENU
==================================*/

ul.mobile_menu { 
    position: relative;
    z-index: 8;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    list-style-type: none;
    background: $lightgrey;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease-in-out;

    &.open {
        max-height: 500px;
        opacity: 1;
        z-index: 9;
    }
}

ul.mobile_menu li {
    border-bottom: 1px solid $white;
    padding: 10px 0px;
    font-size: 14px;

    &:last-child {
        border-bottom: 0;
    }
}

ul.mobile_menu li a{
    color: $blue;
}
