/*==================================
SPLASH SCREEN
==================================*/

.splash_screen {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient($lightblue, $blue);
    z-index: 100;
}

.home.showAnimation .splash_screen { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash_screen .logo_svg {
	width: 90%;
  max-width: 300px;
  height: auto;
}

/*==================================
LOGO ANIMATION
==================================*/

.logo_transition {
  stroke-width: 1; 
  fill: transparent; 
  stroke-dasharray: 2;
  opacity: .6;
} 

// Setup a map for the color variables.

$colorMap: (firstBlue: #297189, secondBlue: #BEEBEB, thirdBlue: #A2DAE0, fourthBlue: #81C4D4, fifthBlue: #5099AA);

// Loop through each to create the selector and keyframes function

@each $colorName, $color in $colorMap {

  // Selector for this specific svg component.

  .logo_transition.fill_#{$colorName} {
    animation: dash 10s linear forwards, fill_#{$colorName} 1s 1s linear forwards;
  }

  // Keyframes

  @keyframes fill_#{$colorName} {
    to {
      fill: $color;
    }
  }

}

// Dash keyframe used for each animation

@keyframes dash {
  to { 
    stroke-dasharray: 1000;
  }
}