/*==================================
FONTS
==================================*/

body, p {
	font-size: 18px;
	line-height: 29px;
	color: $grey;
	font-family: 'Source Sans Pro', sans-serif;

  	@include tablet {
  		font-size: 16px;
  		line-height: 24px;
  	}
}

body {
	background-color: $white;
}

p {
	margin-bottom: 20px;
	font-weight: 400;
	color: $grey;
}

p.large {
	font-size: 24px;
	line-height: 31px;

	@include mobile {
  		font-size: 20px;
  		line-height: 30px;
  	}
}

h1 {
	font-size: 28px;
	line-height: 32px;
  	font-weight: 600;

  	@include tablet {
  		font-size: 25px;
  		line-height: 30px;
  	}

  	@include mobile {
  		font-size: 18px;
  		line-height: 20px;
  	}
}

h2 {
	font-size: 24px;
	line-height: 31px;
	font-weight: 600;
	color: $blue;

	@include tablet {
  		font-size: 20px;
  		line-height: 24px;
  	}

  	@include mobile {
  		font-size: 18px;
  		line-height: 20px;
  	}
}

h3 {
	font-size: 16px;
	line-height: 17px;
  	font-weight: 600;
}

p, h1, h2, h3 {
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	letter-spacing: .4px;
}

a, a:visited, a:active, a:focus {
	color: $blue;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;

	&:hover {
		color: $grey;
	}
}
