/*==================================
GRID
==================================*/

// Standard grid

.az_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -30px;

    @include tablet {
        margin: 0;
    }
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0px 0px 30px;
	padding: 0px 30px;
	float: left;
	display: inline-block;

	img {
		display: block;
	}
}

// Grid with smaller gutters

.az_row_small_gutter {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -10px;
}

.az_row_small_gutter {
    .column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
        position: relative;
        margin: 0px 0px 20px;
        padding: 0px 10px;
        float: left;
        display: inline-block;

        img {
            display: block;
        }
    }
}

.flex_vertical_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include tablet {
    	width: 100%;
        padding: 0;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
    	width: 100%;
        padding: 0;
    }
}

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
    	width: 100%;
        padding: 0;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
        padding: 0;
    }
}

/*=== Stretch columns so their content blocks are the same height ===*/

.stretch_height {
    display: flex;
    flex-direction: column;
}

.stretch_height .content {
    position: relative;
 	  display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}