* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*==================================
HELPERS
==================================*/

/*=== Colors ===*/

.white {
	color: $white;
}

.grey {
  color: $grey;
}

/*=== Padding ===*/

.padding_top_0 {
  padding-top: 0;
}

/*=== Margins ===*/

.margin_bottom_40 {
	margin-bottom: 40px;
}

/*=== Fonts ===*/

.uppercase {
	text-transform: uppercase;
}

/*==================================
COMPONENTS
==================================*/

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: outside;
}

// Styled list within content areas

.wysiwyg {
  ul, ol {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside;
  }
}

.wysiwyg li {
  margin-left: 1em;
  margin-bottom: 10px;
}

.wysiwyg li ol {
  margin: 10px 0;
}

/*=== Headers ===*/

.blue_header {
  background: rgba($blue,.9);
  color: $white;
  padding: 20px 50px;

  h1 {
    margin-bottom: 0;
  }
}

.blue_header.position_left {
  width: 50%;
}

.header_grey {
  color: $grey;
  margin-bottom: 40px;
}

/*=== Buttons ===*/

.az_button {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  padding: 20px 50px;
  border-radius: 30px;
  outline: 0;
  cursor: pointer;
}

.az_button.transparent {
	background: transparent;
	color: $white;
  border: 1px solid $lightblue;
}

.az_button img {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

.transparent_button {
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid;
	color: inherit;
}

/*=== Social Icons ===*/

ul.social_icons li {
    display: inline-block;
    margin-right: 10px;
}

/*=== Close Icon ===*/

.close_icon {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $black;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}