/*==================================
STRUCTURAL ELEMENTS
==================================*/

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.main_content {
  opacity: 0;
}

.single_column_container {
  max-width: 700px;
  width: 90%;
  margin: 0 auto 60px;

  p:last-of-type {
    margin-bottom: 0px;
  }
}

section.az_section {
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 30px;
  }
}

/*==================================
HEADER
==================================*/

header.page_header {
  height: 500px;
  opacity: 1;
  overflow: hidden;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;

  &:before {
    @include overlay(rgba(0,0,0,.3));
  }

  @include large_desktop {
    height: 650px;
  }

  @include tablet_landscape {
    position: relative;
  }

  @include tablet {
    height: 350px;
    padding-bottom: 20px;
  }
}

header.page_header .container {
  z-index: 10;
}

.page_header_content {
  max-width: 650px;
  opacity: 0;
  z-index: 10;
  margin-top: 100px;
  color: $white;
}

.page_header_content h1 {
  margin-bottom: 0px;
  text-shadow: 0px 2px 4px rgba(0,0,0,.5);
}

/*==================================
PAGE CONTENT / STRUCTURE
==================================*/

.page_content_container {
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

.page_content_container.header_image_padding {
    padding-top: 500px;

    @include large_desktop {
      padding-top: 650px;
    }

    @include tablet_landscape {
      padding-top: 0;
    }
}

.page_content_container.single_padding {
    padding-top: 130px;

    @include tablet_landscape {
      padding-top: 0;
    }
}

.loading_bar {
    display: block;
    width: 0%;
    height: 6px;
    background: $blue;
}

.page_content {
    background: $white;
    padding-top: 60px;
    opacity: 0;

    @include mobile_landscape {
      padding-top: 30px;
    }
}

.page_content.padding_top_0 {
  padding-top: 0;
}