/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #000000;

// Greys

$grey: #505050;
$lightgrey: #FAFAFA;

// Vibrants

$blue: #1767AA;
$lightblue: #8BC2E8;
$red: #BB5A5A;